<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/remix/remixicon.css" type="text/css">
    </head>
    <body>
        <header class="navbar navbar-expand-lg py-2">
            <div class="logo">
                <a href><h4 class="text-white my-2 mx-4">Jenny Wilson</h4></a>
            </div>
            <nav class="navbar-collapse">
                <ul class="mb-0 navbar-nav m-auto">
                    <li class><a href
                            class="nav-link text-white mx-4 fs-5">About</a></li>
                    <li class><a href
                            class="nav-link text-white mx-4 fs-5">Approach</a></li>
                    <li class><a href class="nav-link text-white mx-4 fs-5">My
                            Works</a></li>
                    <li class><a href
                            class="nav-link text-white mx-4 fs-5">Blogs</a></li>
                </ul>
            </nav>
            <div class="header_btn bg-warning rounded-pill my-2 mx-3">
                <a href class="nav-link px-3 py-2 fs-6">Work with me</a>
            </div>
        </header>

        <main>
            <!-- banner  -->
            <section class="banner">
                <div class="container">
                    <div>
                        <div
                            class="d-flex justify-content-center flex-column text-center ">
                            <h3 class="mt-4 mb-0 text-white">Hello! I'm</h3>
                            <h1 class="display-2 fw-bold text-white">Jenny
                                Wilson</h1>
                            <p class="fs-4 text-warning ">A Freelance Marketar
                                Based In Amsterdam</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="mt-5 ms-3">
                                    <div class="text-white">
                                        <h3>10</h3>
                                        <p>Years Of Experience</p>
                                    </div>
                                    <div class="text-white">
                                        <h3>300+</h3>
                                        <p>Project Completed</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div
                                    class="mt-5 d-flex align-items-center justify-content-around">
                                    <img src="/images/man.png" width="355px"
                                        height="350px" alt>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="text-white mt-5 ms-3">
                                    <p>_________</p>
                                    <h5>Digital Marketar</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur
                                        adipisicing elit. Earum molestiae modi
                                        maxime pariatur sapiente? Aut voluptatum
                                        cumque itaque rerum ab.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- about  -->
            <section class="my-5">
                <h2
                    class="text-center fw-bold mb-4 display-6 text-decoration-underline">About
                    Me</h2>
                <div class="about row  p-5 w-100">
                    <div class="col-lg-6">
                        <div>
                            <h4 class="m-2 text-warning">MY BACKGROUND</h4>
                            <p style="width: 80%; text-align: justify;"
                                class="m-2 text-white ">Lorem
                                ipsum
                                dolor sit amet consectetur adipisicing elit.
                                Officiis, maiores repellat doloribus
                                laudantium illo omnis nesciunt, itaque in
                                quod temporibus natus a ex fuga molestiae
                                deleniti eaque tenetur. Blanditiis velit
                                deleniti incidunt modi praesentium nulla
                                ratione vero, corrupti cupiditate?
                                Architecto! Lorem ipsum dolor sit amet
                                consectetur, adipisicing elit. Aspernatur a et
                                accusantium facilis, tempora dignissimos magni,
                                magnam, blanditiis ullam qui cumque facere quae.
                                Distinctio culpa quas pariatur facere quia saepe
                                repellendus molestiae mollitia, fugiat
                                repudiandae, sapiente rem facilis. Quibusdam,
                                aliquid.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="m-2 text-warning">FIND ME IN SOCIAL
                            MEDIA</h4>
                        <div class="m-2 text-white">
                            <h5 class="ms-2"> <i class="ri-youtube-line"></i>
                                Youtube</h5>
                            <h5 class="ms-2"> <i class="ri-instagram-line"></i>
                                Instagram</h5>
                            <h5 class="ms-2"> <i class="ri-twitter-line"></i>
                                Twitter</h5>
                            <h5 class="ms-2"> <i
                                    class="ri-facebook-circle-line"></i>
                                Facebook</h5>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <script src="js/bootstrap.bundle.min.js" type="text/js"></script>
    </body>
</html>