*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
	text-decoration:none !important;
	display:inline-block;
}
li{
	list-style:none;
}
img{
	max-width:100%;
	display:block;
}
header {
    background-color: black;
}

.header_btn{
    transition: all linear0.3s !important;
}

.header_btn:hover{
    background-color: rgb(172, 138, 4)!important;
}

.banner {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(6, 6, 33) 35%, rgb(41, 45, 15) 100%);
    width: 100%; 
}
.about{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(6, 6, 33) 35%, rgb(41, 45, 15) 100%);
    width: 100%; 
}

